/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@400;500;900&display=swap');


/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

/* General body layout */
body {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.header {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding-block: 1.75rem;

}

.home-link {
    text-decoration: none;
    color: white;
}

.home-link:hover {
    color: #ff7c94;
    transition: all .3s linear;
}