/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@400;500;900&display=swap');


/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

/* General body layout */
body {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.header {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding-block: 1.75rem;

}

.home-link {
    text-decoration: none;
    color: white;
}

.home-link:hover {
    color: #ff7c94;
    transition: all .3s linear;
}

/* Game area style*/

/*  */
.main-area {
    background-image: linear-gradient(45deg, #b78cf7,#ff7c94,#ffcf0d);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Game area card style and layout */
.game-area {
    width: 80%;
    margin-inline: auto;
    margin-block: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    background-color: #ffe6eb;
    color: #8f3d74;
    box-shadow: 0 0 8px #8f3d74;
    border-radius: 1rem;
}

/* Possible choices style */
.choices {
    background-color: transparent;
    border: none;
    font-size: 3rem;
}

.choices:hover {
    transform: scale(1.25);
    transition: all .5s linear;
}

/* Scoreboard table style */
.scoreboard {
    text-align: center;
}

caption {
    font-size: 1.25rem;
    font-weight: bold;
}

table {
    table-layout: fixed;
    width: 100%;
    margin-inline: auto;
}

table,
td,
th {
    border: 1px solid #8f3d74;
    border-collapse: collapse;
}

td,
th {
    padding: .5rem;
}

.green-field {
    background-color: rgba(0, 128, 0, 0.527);
    color: white;
}

.orange-field {
    background-color: rgba(255, 166, 0, 0.521);
}

.red-field {
    background-color: rgba(255, 0, 0, 0.445);
    color:white;
}

/* Style for win and lost messages */

#win-message,
#lost-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 12%, 0.75);
}

.message-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.75rem;
    padding: 25%;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.close {
    background-color: #ffcf0d;
    border: none;
    width: fit-content;
    margin-inline: auto;
    font-size: inherit;
    padding: .5em;
    border-radius: 1rem;
    cursor: pointer;
}

.close:hover {
    color: white;
    background-color:#ff7c94;
    transition: all .3s linear;
}

.message-icon {
    font-size: 3rem;
}

/* Footer style */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: #1f1f1f;
    color: white;
    padding-block-start: 1.75rem;
    text-align: center;
}

.footer > h2 {
    color: #ffcf0d;
}


/* Error 404 page styles */

.error-area {
    text-align: center;
    gap: 3rem;

}

.error-title {
    font-size: 3.5rem;
}

.error-text {
    font-size: 1.5rem;
}

.error-icon {
    font-size: 5rem;
}

/* Homepage button style */
.error-link {
    text-decoration: none;
    background-color: #8f3d74;
    color: white;
    padding: 1em 1.25em;
    border-radius: 1rem;
}

.error-link:hover {
    background-color: #ffcf0d;
    color: #1f1f1f;
    transition: all .3s linear;
}