/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@400;500;900&display=swap');


/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

/* General body layout */
body {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.header {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding-block: 1.75rem;

}

.home-link {
    text-decoration: none;
    color: white;
}

.home-link:hover {
    color: #ff7c94;
    transition: all .3s linear;
}

/* Game area style*/

/*  */
.main-area {
    background-image: linear-gradient(45deg, #b78cf7,#ff7c94,#ffcf0d);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Game area card style and layout */
.game-area {
    width: 80%;
    margin-inline: auto;
    margin-block: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    background-color: #ffe6eb;
    color: #8f3d74;
    box-shadow: 0 0 8px #8f3d74;
    border-radius: 1rem;
}

/* Possible choices style */
.choices {
    background-color: transparent;
    border: none;
    font-size: 3rem;
}

.choices:hover {
    transform: scale(1.25);
    transition: all .5s linear;
}